<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title or 'Untitled' }}{% endblock %}</title>
    {% include "partials/meta.njk" %}
    <link rel="stylesheet" href="/assets/default.css" />
  </head>
  <body>
    <header>
      <h1 class="sr-only">Boilerplate</h1>
      <div class="banner">
        <div class="container">
          {% renderregion "header-banner" %}
        </div>
      </div>
  {% include "partials/header.njk" %}
    </header>
    <main>
      {% block content %}{% endblock %}
      <aside>
        {% block sidebar %}
          {% include "partials/sidebar.njk" %}
        {% endblock %}
      </aside>
    </main>
    <footer>
      {% include "partials/footer.njk" %}
    </footer>
  </body>
</html>
